body{
    margin: 0;
    padding: 0;
    background:silver;
}
h1{
    text-align: center;
    color: crimson;
    font-family: Arial;
}
h2{
    text-align: center;
    color: crimson;
    font-family: Arial;
}
h3{
    font-family: Arial;
    font-size: 16px;
}
li{
    list-style-type: disc;
    font-family: Arial;
}
img{
    display:block;
    margin:auto;
}